.app__container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #FE5858, #EE9617);
    overflow: hidden;
    height: -webkit-fill-available;
    justify-content: space-around;
    padding: 15px;
    box-sizing: border-box;

    >.wrap {
        &__icon{
            position: absolute;
            top: 15px;
            right: 15px;
            display: flex;
            justify-content: flex-end;
            font-size: 30px;
            color: #fff;
        }
    }
}

.navigation{
    height: 100px;
}